$namespace: 'bdot';

// Colours
$bdot-blue1:                        #bfd7f3;
$bdot-blue2:                        #80afe6;
$bdot-blue3:                        #4a90e2;
$bdot-blue4:                        #0956af;

$bdot-gray:                         #d8d8d8;
$bdot-white:                        #ffffff;

$bdot-yellow:                       #ffd300;

$side-nav-background-color1:        #0b78a9;
$side-nav-background-color2:        #06354a;

// Backgrounds

// Side nav
$side-nav-background:               linear-gradient(157deg, $side-nav-background-color1, $side-nav-background-color2);
$side-nav-content-background:       $bdot-gray;

// Cards
$cards-background:                  $bdot-white;

// Measures

//***Side Nav***//

// Side nav bar
$side-nav-padding-left:             2.3rem;
$side-nav-padding-right:            #{$side-nav-padding-left};
$side-nav-padding-top:              6rem;
$side-nav-padding-bottom:           4.5rem;

$side-nav-brand-width:              14.1rem;
$side-nav-brand-height:             #{$side-nav-brand-width};

$side-nav-h1-font-size:             2.6rem;
$side-nav-h2-font-size:             2rem;
$side-nav-h3-font-size:             1.6rem;

// Side nav content
$side-nav-content-padding-top:      3.4rem;
$side-nav-content-padding-right:    3.5rem;
$side-nav-content-padding-bottom:   #{$side-nav-padding-bottom};
$side-nav-content-padding-left:     #{$side-nav-content-padding-right};

// Fonts

// Families
$side-nav-font:                     'Roboto';
$side-nav-content-font:             'HelveticaNeue';

// Sizes
$root-font-size:                    62.5%;
