<div class="app-users" *ngIf="locations">
    <h2>Usuarios Conectados</h2>
    <span class="font-yellow">{{connectedUsers()}} usuarios</span>

    <div class="locations" *ngFor="let location of locations">
        <h3>{{location.location}}</h3>

        <div class="locations-detail">
            <div>
                <i class="material-icons font-yellow">account_circle</i> &nbsp; <span>{{location.users}} Usuarios</span>
            </div>
        </div>
    </div>
</div>

