@import '~../../../assets/css/sass/utilities/variables';

.app-users {
    border-bottom: 1px solid white;
    margin-bottom: 1.2rem;
    padding-bottom: 4.3rem;
    padding-left: 1.2rem;

    .locations {

        &-detail {

            div {
                // TODO: This it's repeat several times, fix that!
                align-items: center;
                display: flex;
                font-weight: bold;
            }

            div span {
                font-size: 1.4rem;
                font-weight: 300;
            }
        }
    }
}

h2 {
    font-size: $side-nav-h2-font-size;
}

h3 {
    font-size: $side-nav-h3-font-size;
    margin-bottom: .2rem;
}

h2, h3 {
    font-weight: 300;
}

.font-yellow {
    font-size: 1.8rem;
    font-weight: 300;
}