@import '~../../../assets/css/sass/utilities/variables';

.navbar-container {
    bottom: 0;
    color: $bdot-white;
    font-family: $side-nav-font;
    font-size: 1.6rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    h1 {
        font-size: $side-nav-h1-font-size;
    }

    h2 {
        font-size: $side-nav-h2-font-size;
    }

    h1, h2 {
        font-weight: 300;
    }

    .brand {
        text-align: center;

        &-image {
            border-radius: 100%;
            height: $side-nav-brand-height;
            margin: auto;
            overflow: hidden;
            width: $side-nav-brand-width;

            img {
                height: 100%;
                width: 100%;
            }
        }

        &-date {
            align-items: center;
            display: flex;
            font-weight: bold;
            justify-content: center;
        }
    }

    .side-nav {
        // TODO: Find a better way to do this
        $sideNavPaddings: 'top' #{$side-nav-padding-top}, 'right' #{$side-nav-padding-right}, 'bottom' #{$side-nav-padding-bottom}, 'left' #{$side-nav-padding-left};

        background-image: $side-nav-background;
        color: white;
        display: block;

        // TODO: Find a better way to do this
        @each $tuple in $sideNavPaddings {
            padding-#{nth($tuple, 1)}: nth($tuple, 2);
        }
        width: 278px;
    }

    .side-nav-content {
        background-color: $side-nav-content-background;
        // TODO: Make it better
        padding: $side-nav-content-padding-top $side-nav-content-padding-right $side-nav-content-padding-bottom $side-nav-content-padding-left
    }

    .card-places {
        background-color: white;
        color: #4a4a4a;
        font-size: 3.2rem;

        &-text {
            cursor: pointer;
            margin-left: 3rem;
        }
    }

}
