<mat-sidenav-container fxFlexFill class="navbar-container">
    <mat-sidenav class="side-nav" [opened]="screenWidth > 900" [mode]="'side'" #sidenav>
        <div class="brand">
            <div class="brand-image">
                <img src="assets/images/logo-bancolombia.jpeg" alt="bancolombia logo">
            </div>
            <h1>Estadisticas CIB</h1>
            <div class="brand-date">
                <i class="material-icons"> event </i>
                <span>{{today | date:'dd-MM-y'}}</span>
            </div>
            <hr/>
        </div>
        <!-- <bancolombia-app-users></bancolombia-app-users> -->
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content">
        <div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.7rem"
            fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-card>
                    <!-- <bancolombia-occupation></bancolombia-occupation> -->
                </mat-card>
            </div>
            <div fxFlex="50%">
                <mat-card>
                    <!-- <bancolombia-prediction-table></bancolombia-prediction-table> -->
                </mat-card>
            </div>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayouWrap>
            <div fxFlex="25%" fxFlex.lt-lg="100%">
                <mat-card class="gradient-background discover">
                    <h1>Descubre donde esta tu gente</h1>
                    <i class="material-icons"> keyboard_arrow_right </i>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex>
                <div class="card-places" fxFlex="1 0 auto">
                    <mat-card class="places">
                        <img src="assets/images/lab.png" alt="lab bancolombia">
                        <span class="card-places-text">Laboratorio</span>
                    </mat-card>
                </div>
                <div class="card-places" fxFlex="1 0 auto">
                    <mat-card class="places">
                        <img src="assets/images/entrada.png" alt="entrada bancolombia">
                        <span class="card-places-text" routerLink="/lugares">Entrada</span>
                    </mat-card>
                </div>
                <div class="card-places" fxFlex="1 0 auto">
                    <mat-card class="places">
                        <img src="assets/images/salas.png" alt="salas bancolombia">
                        <span class="card-places-text">Salas</span>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div fxLayout="column" style="border: 1px solid black">
    <header style="border: 1px solid black">header</header>
    <div fxLayout="row" fxFlex style="border: 1px solid black">
        <nav fxFlex="1 6 20%" style="border: 1px solid black">nav</nav>
        <article fxFlex="3 1 60%" style="border: 1px solid black">article</article>
        <aside fxFlex="1 6 20%" style="border: 1px solid black">side</aside>
    </div>
    <footer>footer</footer>
</div> -->