<mat-grid-list cols="2" rowHeight="fit" style="height: 100px;">
    <mat-grid-tile>
        <mat-card class="content-start">
            <img src="assets/images/entrada.png" alt="entrada bancolombia">
            <h1 mat-dialog-title> {{data.placeName}}</h1>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="content-end">
            <span>2018-09-12</span>
            <i (click)="closeModal()" class="material-icons"> highlight_off </i>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-dialog-content>

</mat-dialog-content>

<mat-dialog-actions>
    <div fxFlxlayout="row" fxLayout.lt-sm="column" fxFlexWrap fxFlex>
        <div fxFlex="50%">
            <mat-card class="gradient-background discover">
                <h1>Top 5 usuarios en {{data.placeName}}</h1>
                <i class="material-icons"> keyboard_arrow_right </i>
            </mat-card>
        </div>
        <div fxFlex="50%">
            <mat-card class="gradient-background discover">
                <h1>Dispositivos {{data.placeName}}</h1>
                <i class="material-icons"> keyboard_arrow_right </i>
            </mat-card>
        </div>
    </div>
</mat-dialog-actions>