<div class="prediction-table">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="2.7rem" fxLayoutAlign="center">
        <div fxFlex="50%">
            <mat-form-field>
                <input matInput (dateChange)="onDateChange()" [min]="minDate" [matDatepicker]="startpicker" placeholder="Escoja una fecha" [formControl]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                <mat-datepicker #startpicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field>
                <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="endpicker" placeholder="Escoja una fecha" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker #endpicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <bancolombia-chart [data]="predictionData" [options]="chartOptions" [type]="chartType"></bancolombia-chart>
    <h1>Predicción</h1>
</div>