@import 'utilities/variables';

html {
    font-size: $root-font-size;
}

.mat-card {
    align-items: center;
    background-color: $bdot-white;
    box-sizing: border-box;
    display: flex !important;
    font-family: $side-nav-content-font;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.places {
        justify-content: flex-start;
    }
}

.mat-grid-list {
    padding-top: 3.4rem;
}

.font-yellow {
    color: $bdot-yellow;
}

.gradient-background {
    padding-right: 0 !important;
    background-image: $side-nav-background !important;

    h1 {
        font-size: 3.2rem;
        color: white;
    }

    i {
        color: white;
        font-size: 7rem;
    }
}

.big-panel {
    width: 100%;
    height: 90%;
}