@import '~@angular/material/theming';
@include mat-core();


$bancolombia-app-primary: mat-palette($mat-blue, 600);
$bancolombia-app-accent:  mat-palette($mat-blue-grey);
$bancolombia-app-warn:    mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$bancolombia-app-theme: mat-light-theme($bancolombia-app-primary, $bancolombia-app-accent, $bancolombia-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bancolombia-app-theme);