<div class="occupation-component">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="2.7rem" fxLayoutAlign="center">
        <div fxFlex="50%">
            <mat-form-field>
                <input matInput (dateChange)="dateChanged()" [max]="maxDate" [matDatepicker]="picker" placeholder="Escoja una fecha" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field>
                <mat-select (selectionChange)="apChanged($event)" placeholder="Access Points" [(ngModel)]="selectedAp">
                    <mat-option *ngFor="let ap of aps" [value]="ap">
                        {{ap}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <bancolombia-chart [data]="graphData" [options]="chartOptions" [type]="chartType"></bancolombia-chart>
    <h1>Ocupación</h1>
</div>